{% extends "base.html" %}
{% block content %}
<div class="card">
        <div class="card">
                <div class="card">
                      <style>
                              img-circle {
                              border-radius: 70%;
                              }
                      </style>
                    <img class="profpic"  src="{{profile.profilepic.url}}" class= 'img-circle' height='236' width="304" alt="Image" class="img-responsive">
                </div>
                <div class="card">
                    <ul>
                        <h1>{{profile.user.username}}</h1>
                        <div class="card" ><a href="/update" class = 'text-center'>Edit profile</a> </div>
                    </ul>
                    <p class="card-body">{{profile.user.profile.bio}}</p>
                </div>
        </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% for image in images %}

        <div class="card">
            <img class="card-img-top" src="{{image.image1.url}}" height='400'>
            <div class="card-body">
                <h1 class="card-title"> TOTAL SCORE: </h1>
                <a class="btn btn-danger" href="#">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}